{% extends "layout.html" %}

{% block title %}
    Cabin
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-5 mb-4 mt-4"><b>The Professor's Cabin</b></h1></center>

    <center><img src="{{url_for('static', filename='/images/Cabin/cabin.jpg')}}" alt="cabin" width="800" height="800" usemap="#cabin"></center>
    <map name="cabin">
        <!--Dying Professor-->
        <area class="default" shape="rect" coords="750,498,795,521" href="{{url_for('professor')}}" >
   </map>

{% endblock %}