{% extends "layout.html" %}

{% block title %}
    Instructions
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}

    <div class="mx-auto" style="width: 800px">
        <center><h1 class="mt-5 mb-3">Welcome, {{ username }}</h1></center>
        <p>We are The Syndicate of the Unspoken, an underground consortium who seeks to uncover the silenced truth. As a new member, read the following so you are aware of the case and the way we conduct business.</p>
        <p>On May 14th, 2022, the death of an elderly woman was reported to the authorities. The crime took place in the simple city of Torna, found in a small country known as Bonta. The victim was identified as Beatrice Jones, the wife of a passionate professor who is widely known for his advances in the Biochemical Engineering field, and her body was found in his home office. Unfortunately, Beatrice's death was immediately followed by the renowned professor's disappearance. It is now your mission to unveil Beatrice Jones' killer and to find the missing professor.</p>
        <p>Before you begin your investigation, familiarize yourself with your inventory. Don't forget that you have a <b><i>Map</i></b> and <b><i>Notebook</i></b> at your disposal. The <b><i>Police Station</i></b> is where you submit the name of the person responsible for Beatrice's death. During your investigation, to inspect an object more closely, click on it. Note that not all objects can be inspected, so click around until you find some leads. Each object you click on has a description at the bottom of the page, read through these to find some clues.</p>
        <p>Look for the following:</p>

        <p><font color="jade">Green Text</font> - Means that you have discovered a new location. Whenever you see green text, open the map to see what place you found.</p>

        <p>Conduct your investigation wisely, for prosecuting the innocent will result in your immediate elimination, leaving the truth forever Unspoken.</p>
    </div>


{% endblock %}




