{% extends "layout.html" %}

{% block title %}
    Lab
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class="display-5 mb-4 mt-4"><b>Synergy Lab</b></h1></center>

    <center><img src="{{url_for('static', filename='/images/Lab/lab.jpg')}}" alt="lab" usemap="#lab"></center>
    <map name="lab">

        <!--Computer Screen Asking for Code-->
        <area class="default" shape="rect" coords="640,516,783,630" href="{{url_for('computer')}}">



    </map>



{% endblock %}

