{% extends "layout.html" %}

{% block title %}
    Lab - Computer
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-5 mb-4 mt-4"><b>Synergy Lab - The Professor's Computer</b></h1></center>

    <center><img src="{{url_for('static', filename='/images/Lab/computerearlytrialfoldernexus.jpg')}}" alt="nexus" width="1200" height="800"></center>

    <div class="mx-auto mt-4 mb-4" style="width: 800px">
        <p>[YOU] &#8594 <i>So this is the nexus...I guess this is what the early trial was testing.</i></p>
    </div>

    <center><a href="{{url_for('earlytrialfolder')}}">Close Photo</a></center>
{% endblock %}