{% extends "layout.html" %}

{% block title %}
    Lab - Computer
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-5 mb-4 mt-4"><b>Synergy Lab - The Professor's Computer</b></h1></center>

    <center><img src="{{url_for('static', filename='/images/Lab/computerearlytrialfolderaccident.gif')}}" alt="video" width="1000" height="600"></center>
    <center><img src="{{url_for('static', filename='/images/Lab/computerearlytrialfoldermediatoolbar.jpg')}}" alt="toolbar" width="1000" height="100"></center>

    <div class="mx-auto mt-4 mb-4" style="width: 800px">
        <p>[YOU] &#8594 <i>I remember hearing about this accident...It was a tragedy. A botched experiment killed two young scientists in a facility somewhere in New Mexico. I still remember their names: Lucia Croft and James Quel. Why did the professor save a video of the inicident?</i></p>
    </div>

    <center><a href="{{url_for('earlytrialfolder')}}">Close Media Player</a></center>
{% endblock %}