{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form action="login" method="post">
        <div class="mb-4">
            <input class="form-control mx-auto w-25 shadow p-2 bg-body rounded" id="username" name="username" autocomplete="off" placeholder="Username" type="text">
        </div>

        <div class="mb-5">
            <input class="form-control mx-auto w-25 shadow p-2 bg-body rounded" id="password" name="password" placeholder="Password" type="password">
        </div>

        <center><button class="btn btn-outline-dark" type="submit">Log In</button></center>
    </form>

    <hr class="mt-5 mb-4">

    <center><i><p class="font-italic">Don't have an account? Register below!<p></i></center>

    <form action="register" method="get">
        <div class="mt-4">
            <center><button class="btn btn-outline-dark" type="submit">Create an Account</button></center>
        </div>
    </form>
{% endblock %}


