{% extends "layout.html" %}

{% block title %}
    Office
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-5 mb-4 mt-4"><b>The Professor's Office</b></h1></center>
    <center><img src="{{url_for('static', filename='/images/Office/office.jpg')}}" alt="office" usemap="#office"></center>
    <map name = "office">

        <!--Threatening Letter from Synergy-->
        <area class="default" shape="rect" coords="763,575,863,600" href="{{url_for('letter')}}">

        <!--Small Desk Drawer-->
        <area class="default" shape="rect" coords="750,640,815,690" href="{{url_for('smalldrawer')}}">

         <!--Books on Shelf Containing Cipher Code-->
         <area class="default" shape="rect" coords="877,437,910,473" href="{{url_for('codebooks')}}">

         <!--Clock on Desk-->
         <area class="default" shape="rect" coords="635,568,665,610" href="{{url_for('deskclock')}}">

         <!--Chest on Coffee Table with the Code Encryption Key-->
         <area class="default" shape="rect" coords="291,523,341,560" href="{{url_for('coffeechest')}}">

          <!--Picture of Edwin and Lucia-->
          <area class="default" shape="rect" coords="1106,509,1146,555" href="{{url_for('couplepic')}}">



    </map>


{% endblock %}

