{% extends "layout.html" %}

{% block title %}
    Office - Chest
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-6 mb-4 mt-4"><b>The Professor's Office - Coffee Table Chest</b></h1></center>
    <center><img src="{{url_for('static', filename='/images/Office/coffeechest.jpg')}}" alt="chest" usemap="#cipher"></center>
    <map name = "cipher">
        <!--Code Encryption key-->
        <area class="default" shape="circle" coords="785,535,147" href="{{url_for('cipher')}}">
    </map>

    <div class="mx-auto mt-4 mb-4" style="width: 800px">
        <p>[YOU] &#8594 <i>Looks like some antiques along with the professor's journal. I would've thought that writing was his favoured passtime, but his journal is empty.</i></p>
    </div>

    <center><a href="{{url_for('office')}}">Return to Main Office View</a></center>
{% endblock %}