{% extends "layout.html" %}

{% block title %}
    Office - Books
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-6 mb-4 mt-4"><b>The Professor's Office - Old Books</b></h1></center>
    <center><img src="{{url_for('static', filename='/images/Office/codebooks.jpg')}}" alt="books" width="800" height="800" usemap="#codedbooks"></center>

    <map name = "codedbooks">
        <!--First Coded Book (1st in Code Sequence)-->
        <area class="default" shape="rect" coords="425,0,540,800" href="{{url_for('book1')}}">

        <!--Second Coded Book (2nd in Code Sequence)-->
        <area class="default" shape="rect" coords="280,0,420,800" href="{{url_for('book2')}}">

        <!--Third Coded Book (3rd and last in Code Sequence)-->
        <area class="default" shape="rect" coords="550,0,700,800" href="{{url_for('book3')}}">

        <!--Fourth Book (Decoy from Code)-->
        <area class="default" shape="rect" coords="0,0,165,800" href="{{url_for('book4')}}">

        <!--Fifth Book (Decoy from Code)-->
        <area class="default" shape="rect" coords="165,0,277,800" href="{{url_for('book5')}}">

        <!--Sixth Book (Decoy from Code)-->
        <area class="default" shape="rect" coords="705,0,800,800" href="{{url_for('book6')}}">
    </map>

    <div class="mx-auto mt-4 mb-4" style="width: 800px">
        <p>[YOU] &#8594 <i>Interesting...The professor seems to have his own personal library. All of his books appear to predate the stone age though. I wonder how he keeps them from falling apart.</i></p>
    </div>

    <center><a href="{{url_for('office')}}">Return to Main Office View</a></center>
{% endblock %}