{% extends "layout.html" %}

{% block title %}
    Police Station
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-5 mb-4 mt-4"><b>Police Station</b></h1></center>

    <form action="prosecute" method="post">
        <center><img src="{{url_for('static', filename='/images/Policestation/stationcomputerunlocked.jpg')}}" alt="policestation" width="950" height="650"></center>
        <div style="position:absolute; left:549px; top:470px;" class="w-25">
            <input class="form-control mx-auto shadow p-2 bg-body rounded mb-4" id="suspect" name="suspect" autocomplete="off" placeholder="Firstname Lastname (1 attempt - Type as Shown)" type="text">
            <button class="btn btn-outline-light" style="position:absolute; left:325px; top:95px" type="submit" >ENTER</button>
        </div>
    </form>
{% endblock %}