{% extends "layout.html" %}

{% block title %}
    Congratulations!
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-5 mb-4 mt-4"><b>CONGRATULATIONS!!!!</b></h1></center>

    <div class="mx-auto mt-4 mb-4" style="width: 800px">
        <p>You successfully prosecuted the correct suspect: Edwin Thorby! Further actions revealed the following to be the full, absolute truth:</p>
    </div>

    <div class="mx-auto mt-4 mb-4" style="width: 800px">
        <p>
            Edwin is the professor's nephew, and from a very young age he has helped the old man with all sorts of different
            projects and experiments. Further proceedings showed that the professor's latest endeavour was called the nexus.
            Although we have yet to uncover its purpose, we do know that it involved dangerous work, and the professor knew that.
            So, he rented a cheap laboratory over in New Mexico and sent two interns to test it. Unfortunately, some miscalculations
            resulted in an explosion that killed both of them. We later discovered that one of the interns, Lucia Croft, was actually Edwin's
            life-long partner. He blamed the professor for everything...For losing her and the grief it caused him. It was this pain that drove
            Edwin to seek retribution, resulting in the deaths of Beatrice and the Professor.
        </p>
    </div>

    <div class="mx-auto mt-4 mb-4" style="width: 800px">
        <p>Thank you for your service! If you would like to retire and terminate your account, simply go back to the police station and type in random text. This will have no effect on the case as it has officially concluded; the system will just process this input as your resignation.</p>
    </div>
{% endblock %}