{% extends "layout.html" %}

{% block title %}
    Office - Chest - Cipher Wheel
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-6 mb-4 mt-4"><b>The Professor's Office - Coffee Table Chest (Cipher Wheel)</b></h1></center>
    <center><img src="{{url_for('static', filename='/images/Office/cipher.jpg')}}" alt="letter" width="500" height="500"></center>

    <div class="mx-auto mt-4 mb-4" style="width: 800px">
        <p>[YOU] &#8594 <i>Interesting, an old cipher wheel. But something's off...it looks like it's bolted in place; I can't turn the inner disk. This appears to be a gift as the back of the wheel has the name "C.Baxter" engraved on it.</i></p>
    </div>

    <center><a href="{{url_for('coffeechest')}}">Return to Chest View</a></center>
{% endblock %}