{% extends "layout.html" %}

{% block title %}
    Office - Books - Poem
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}


{% block main %}
    <center><h1 class=" display-6 mb-4 mt-4"><b>The Professor's Office - Old Books (Poem)</b></h1></center>
    <center><img src="{{url_for('static', filename='/images/Office/book6.jpg')}}" alt="book" width="1200" height="700"></center>

    <div class="mx-auto mt-4 mb-4" style="width: 800px">
        <p>[YOU] &#8594 <i>Who would've thought that Robert FROST would vouch for fire.</i></p>
    </div>

    <center><a href="{{url_for('codebooks')}}">Return to Old Books View</a></center>
{% endblock %}