{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="register" method="post">
        <div class="mb-4">
            <input class="form-control mx-auto w-25 shadow p-2 bg-body rounded" id="email" name="email" autocomplete="off" placeholder="Email" type="email">
        </div>

        <div class="mb-4">
            <input class="form-control mx-auto w-25 shadow p-2 bg-body rounded" id="username" name="username" autocomplete="off" placeholder="Username" type="text">
        </div>

        <div class="mb-4">
            <input class="form-control mx-auto w-25 shadow p-2 bg-body rounded" id="password" name="password" placeholder="Password" type="password">
        </div>

        <div class="mb-5">
            <input class="form-control mx-auto w-25 shadow p-2 bg-body rounded" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" type="password">
        </div>

        <center><button class="btn btn-outline-dark" type="submit">Register</button></center>
    </form>

    <hr class="mt-5 mb-4">

    <center><i><p class="font-italic">If you already have an account, go the login page:<p></i></center>

    <form action="login" method="get">
        <div class="mt-4">
            <center><button class="btn btn-outline-dark" type="submit">Go to Login</button></center>
        </div>
    </form>
{% endblock %}

